.jumbotron{
    background-color: #d6e0f5;
    text-align: center;
    font-size: large;
    font-family: 'Nunito', sans-serif;
    
}
.form-group{
    font-family: 'Nunito', sans-serif;
}
.btn-outline-primary{
    color: black;
    font-family: 'Nunito', sans-serif;
}
.card-header{
    font-family: 'Nunito', sans-serif;
    background-color:  #d6e0f5;
}