html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: whitesmoke;
}

#cardBack {
    background-color: whitesmoke;
}

#deleteBtn {
    border-color: black;
    color: rgb(112, 111, 111);
}

#deleteBtn:hover {
    background-color: rgba(83, 197, 250, 0.849);
    color: white;
}

#logo {
    max-width:50%;
    padding-bottom: 15px;
}

.jumbotron{
    background-color: whitesmoke;
    text-align: center;
}

.btn-outline-primary{
    color: black;
    font-family: 'Nunito', sans-serif;
}

.card-header{
    font-family: 'Nunito', sans-serif;
    background-color:  rgba(83, 197, 250, 0.849);
    color: white;
}

/* #newCard{
    position: absolute;
    font-family: 'Nunito', sans-serif;
    text-align: center;
} */

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

i{
    color: white;
}


#search:hover {
    background-color: rgba(83, 197, 250, 0.849);
}

#clear:hover {
    background-color: rgba(83, 197, 250, 0.849);
}